.env
__pycache__
node_modules
.vscode
.pip-cache
.tmp
teacher-webapp/.env.local
data
!face-auth-service/data/
!face-auth-service/data/**
DB_CONNECTION=postgresql://postgres:GSOjdiWUJSRtMLIgqdqPDdxDOEfRFyum@centerbeam.proxy.rlwy.net:58945/railway
JWT_SECRET=JMFEW5HmZ6yCk0o3LC8aKEjz2OlyFPFbe2guWFm4Ehi
JWT_ALG=HS256