.search {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 300px;
  font-size: 16px;
}

.logo{
  width: 90%;
  height: auto;
  margin-top: -45px;

}
.LoginImage{
  display: block;
  margin: 0 auto;
  justify-content: center;
  width: 40%;
  height: auto;
  align-items: center;
  margin-bottom: 5px;
  margin: top 5px;

}

.Logindetail{
  display: flex;
  justify-content: center;
  font-display: bold;
  
}
.Logindetail2{
   
  display: flex;
  justify-content: center;
  
  
}
.Login-button{

  color: green;
  border-radius: .5%;
}

.Card{
  border: 1px solid rgb(32, 27, 27);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 30px;
  margin: 10px;
  text-align: center;
  width: 170px;
  height: 80px;
  display: inline-block;
}